<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Titles List</h1>
	<ul>
	    <li th:each="titles : ${quiestionProperty}">
	        <a th:href="@{/quizdetails/{id}(id=${titles.questionTitleId})}">
				<span th:text="${titles.questionTitle}"></span>
			</a>
			&nbsp;|&nbsp;
			<a th:href="@{/quiz/delete/{id}(id=${titles.questionTitleId})}">
				<span th:text="削除"></span>
			</a>
			&nbsp;|&nbsp;
			<a th:href="@{/quiz/edit/{id}(id=${titles.questionTitleId})}">
				<span th:text="編集"></span>
			</a>
	        </span>
	    </li>
	</ul>
	<a th:href="@{/quiz/form}">登録</a>
</body>
</html>