<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	Hello Quiz Details
	<div th:each="quizlist : ${quizDetails}">
		<p th:text="${quizlist.questionWord}"></p>
		&nbsp;|&nbsp;
		<a th:href="@{/quizdetails/delete/{questionDetailsId}(questionDetailsId=${quizlist.questionDetailsId})}">
			<span th:text="削除"></span>
		</a>
		&nbsp;|&nbsp;
		<a th:href="@{/quizdetails/edit/{questionTitleId}/{questionDetailsId}(questionTitleId=${quizlist.questionTitleId},questionDetailsId=${quizlist.questionDetailsId})}">
			<span th:text="編集"></span>
		</a>	
	</div>
	<a th:href="@{/quiz}">戻る</a>
	<a th:href="@{/quizdetails/form/{id}(id=${questionTitleId})}">登録</a>
	<a th:href="@{/takequiz/{id}(id=${questionTitleId})}">クイズ開始</a>
</body>
</html>